# Ignore everything
*

# But not these files...
!.gitignore
!base.asm
!pic.bmp
!pics.bmp
!coin.bmp
!coin.bmp
!heart1.bmp
!heart2.bmp
!heart3.bmp
!bg1.bmp
!bg2.bmp
!missile.bmp
!heart.bmp
!music.wav
!GameOver.wav
